*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
}
.leftbox{
    flex-basis: 20% ;
    background-color: lightslategray;
  
}
.rightbox{
    flex-basis: 80%;
}
.logo{
    width: 200px;
    margin: 20px;
}
.wrapper{
    width: 80%;
    margin: auto;
}
.searchbox{
    height: 30px;
    display: flex;
    background-color:lightsteelblue;
    padding: 10px 10px;
    border-radius: 10px;
}
.searchbox img{
    width: 18px;
    margin: auto 5px;
}
.searchbox input{
    width: 80px;
    border: 0;
    outline: none;
    background-color: transparent;
}
.vertical-line{
    width: 1.5px;
    height: 40vh;
    background-color :antiquewhite;
    margin-left:30px;
    margin: 20px;
}
.logo ul li{
    list-style: none;
    margin: 0px 0;
} 
.logo ul li a{
    color:black;
    font-size: 15px;
     text-decoration: none;
}
nav{
    margin-top: 60px;
    margin-left: 60px;
}
 nav ul{
    display: flex;
 }
 nav ul li{
    list-style: none;
    margin-right: 70px;
 }
 nav ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
 }
 .rightbox h2{
    margin-top: 5%;
    margin-left: 60px;
    font-size: 50px;
 }
 .robot{
    position: absolute;
    bottom: 0;
    right: 100px;
    height: 80%;
 }
 .robot img{
    height: 90%;
 }
 .robot h1{
    position: absolute;
    top: -60px;
    right: -90px;
    font-size: 100px;
    color: whitesmoke;
    opacity: 0.1;
    z-index: -1;
 }
 .features{
    position: absolute;
    bottom: 20px;
    left: -400px;
 }
 .features img{
    width: 30px;
    margin-right: 100px;

 }
 .features div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 140px;
 }
 .features :nth-child(2){
    margin-left: 120px;;
 }
 .features :nth-child(3){
    margin-left :80px;;
 }
 .circle{
    width: 120px;
    height: 120px;
    border: 30px solid rgba(255, 255, 255,0.1);
    border-radius: 60%;
    position: absolute;
    top: 250px;
    left: 160px;
 }
 .pagination ul li {
    list-style: none;
    margin-right: 20px;
 }
 .pagination ul{
        display: flex;
        align-items: flex-end;
 }
 .pagination ul li a{
    text-decoration: none;
color: white;
font-size: 15px;
padding: 10px;
border-bottom: 2px solid #ffffff;
 }
 .pagination{
    position: absolute;
    left: 280px;
    bottom: 4%;
 }
 .pagination ul li.active a{
    font-size: 22px;
    border-bottom: 5px solid white;

 }
 .volume{
    width: 60px;
    position: absolute;
    right: 4%;
    bottom: 10px;
 }
 .smallcursor{
    height: 10px;
    width: 10px;
    background-color: #cfc9f5;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    
 }
 .pagination ul li :hover{
   color: aqua;

 }